<div id="create">
    <h2>Add a new blog post</h2>
    <input type="text" id="new-title" placeholder="Give the note a title" />
    <input type="text" id="new-post" placeholder="Add a new note..." />
    <button type="submit" value="submit" id="submit-new-blog">Save Post</button>
</div>

<a href="/">Home</a>
<script src="./js/add-blog.js"></script>