<div id="read">
    <h2>Find a specific blog by title</h2>
    <input type="text" id="find-post" placeholder="Enter the note's title" />
    <button type="submit" value="submit" id="finding">Find Post</button>
</div>

<div id="update">
    <h2>Update a specific blog by title</h2>
    <input type="text" id="up-post" placeholder="Enter the note's title" />
    <input type="text" id="up-post-text" placeholder="Enter the note's new text" />
    <button type="submit" value="submit" id="updating">Find Post</button>
</div>

<div id="delete">
    <h2>Delete a specific blog by title</h2>
    <input type="text" id="nuke-post" placeholder="Enter the note's title" />
    <button type="submit" value="submit" id="nuking">Delete Post</button>
</div>
<a href="/">Home</a>
<script src="./js/rud.js"></script>