<div id="read">
    <h2>Find a specific blog by title</h2>
    <input type="text" id="find-post" placeholder="Enter the note's title" />
    <button type="submit" value="submit" id="finding">Find Post</button>
</div>

<div id="update">
    <h2>Update a specific blog by title</h2>
    <input type="text" id="find-post" placeholder="Enter the note's title" />
    <button type="submit" value="submit" id="updating">Find Post</button>
</div>
<script src="./js/rud.js"></script>