<div>
    <h2>Login</h2>
    <form class="login-form">
        <label>Email:</label>
        <input id="email-login" />
        <label>Password</label>
        <input id="pass-login" />
        <button type="submit">Login</button>
    </form>
</div>

<div>
    <h2>Signup></h2>
    <form class="signup-form">
        <label>Username:</label>
        <input id="username-signer" />
        <label>Email:</label>
        <input id="email-signer" />
        <label>Password:</label>
        <input id="password-signer" />
        <button type="submit">Signup</button>
    </form>
</div>

<script src="./js/login.js"></script>